@charset "utf-8";

div.rsvp-form{
	font-size:14px;
}

div.overlay-content{
	padding: 50px;
}

div.rsvp-form h1{ font-size: 20px; }
div.rsvp-form h2{ font-size: 18px; }
div.rsvp-form h3{ font-size: 16px; }
div.rsvp-form h4{ font-size: 15px; }


div.rsvp-form input, textarea{
	padding:5px;
	color:#666666;
	font-weight:500;
}

div.form-segments{
	margin-bottom:25px;
	display:block;	
	width: 450px;
	padding-bottom:20px;	
	border-bottom: 1px solid #CCC;
}

#admin-events-wrapper{
	
}

#admin-events-wrapper table{
	
}

#admin-events-wrapper table tr{

}

#admin-events-wrapper table tr th{
	text-align:left;
	padding:10px;
}

#admin-events-wrapper table tr td{
	text-align:left;
	padding:10px;
}

#admin-events-wrapper table tr.event_rsvps{
	background: white;
}

.error,
input.error {
    border: 1px solid #c00;
} 

label.error {
    display: none;
    border: none;
    margin-left: 20px;
    color: #fff;
    }